html, body
{
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: papayawhip;
}

div#music
{
    float: left;
    width: 39.5%;
    height: 90%;
    position : relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

div#list
{
    width: 100%;
    /* height: 600px; */
    flex: 1;
    overflow-y: auto;
}

div#play
{
    width: 100%;
    height: 240px;
    position : relative;
    bottom : 0;
    border-top: 3px pink solid;
    border-collapse: collapse;
}

div#music iframe
{
    width: 100%;
    height: 240px;
    position : absolute;
    bottom : 0;
}

div#search
{
    float: left;
    width: 59.5%;
    height: 90%;
}

div#search_in_youtube
{
    width: 100%;
    height: 60%;
}

div#recommend
{
    width: 100%;
    height: 40%;
}

div#result
{
    width: 100%;
    height: 100%;
    overflow: auto;
}

div#music > h1
{
    color: rgb(255, 143, 162);
    text-align: center;
}

table, tbody, tr, td
{
    border: 2px pink solid;
    border-collapse: collapse;
}

td:first-child
{
    width: 300px;
    text-align: center;
}

.recommend_set_modal
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommend_set_modal .modal_background
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.recommend_modal_box
{
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 200px;
    padding: 15px;
}

.recommend_modal_box button
{
    display: block;
    width: 80px;
    margin: 0 auto;
}

.hidden
{
    display: none;
}

.recommend_modal_box div
{
    float: left;
    width: 50%;
    /* height: 100%; */
    text-align: center;
}

.window
{
    border-bottom: 3px pink solid;
    border-right: 3px pink solid;
    border-collapse: collapse;
}