html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div#music
{
    float: left;
    width: 40%;
    height: 100%;
    background-color: papayawhip;
}

div#list
{
    width: 100%;
    height: 70%;
}

div#play
{
    width: 100%;
    height: 30%;
}

div#search
{
    float: left;
    width: 60%;
    height: 100%;
    background-color: white;
}

div#list > h1
{
    color: rgb(255, 143, 162);
    text-align: center;
}

table, tbody, tr, td
{
    border: 2px pink solid;
    border-collapse: collapse;
}

td:first-child
{
    width: 300px;
}