html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

div#music
{
    float: left;
    width: 40%;
    height: 100%;
    background-color: papayawhip;
}

div#list
{
    width: 100%;
    height: 70%;
}

div#play
{
    width: 100%;
    height: 30%;
}

div#search
{
    float: left;
    width: 60%;
    height: 100%;
    background-color: white;
}

div#search_in_youtube
{
    width: 100%;
    height: 50%;
}

div#recommend
{
    width: 100%;
    height: 50%;
}

div#list > h1
{
    color: rgb(255, 143, 162);
    text-align: center;
}

table, tbody, tr, td
{
    border: 2px pink solid;
    border-collapse: collapse;
}

td:first-child
{
    width: 300px;
}

.recommend_set_modal
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommend_set_modal .modal_background
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.recommend_modal_box
{
    position: absolute;
    background-color: #fff;
    width: 400px;
    height: 200px;
    padding: 15px;
}

.recommend_modal_box button
{
    display: block;
    width: 80px;
    margin: 0 auto;
}

.hidden
{
    display: none;
}

.recommend_modal_box div
{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}